body{
    margin: 0;
}
/* nav */
nav{
    background-color: #242424;
}
.navbar img{
    margin-left: 10px;

}
.nav-link{
    color: white;
    font-size: 18px;
    margin-right: 10px;
}
.nav-link:hover{
    color: #FFCC57;
}
/*จบ nav*/

/*ช่อง search*/
.height {
    margin-top: 60px;
}
.search {
    position:relative;
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}
.search input:focus {
    box-shadow: none;
    border: 2px solid #FFCC57
}
.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    color: white;
    background: #FFCC57
}
.search button:hover {

    background: #FFCC57
}
/*จบ search*/

/*footer{
    background-color: black;
    padding:15px ;
}*/